<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="question_submitted">
        <observer name="favicode_newquestionobserver_question_submitted"
                  instance="Favicode\NewQuestionObserver\Observer\SendEmailToAdmin"/>
    </event>
</config>
