.faq-form{
    margin-top: 10px;
    width: 50%;
}

.faq-form > *{
    margin: 10px 0;
}

.faq-label{
    font-weight: bold;
}

.faq-label::after{
    content: "*";
    color: red;
}

.categories-filter-display{
    margin-bottom: 15px;
}


