<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="favicode_faq_question_save_after">
        <observer name="favicode_faq_question_answered"
                  instance="Favicode\FaqCustomerNotification\Observer\SendEmailToCustomer"/>
    </event>
</config>
