<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="question_answered">
        <observer name="favicode_questionansweredobserver_question_answered"
                  instance="Favicode\QuestionAnsweredObserver\Observer\SendEmailToCustomer"/>
    </event>
</config>
